*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(44, 42, 42);
    padding: 50px 0 0;
}
nav{
    background-color:rgb(117, 112, 112);
    text-align: center;
}
header li{
    display: inline-block;
}
header li a{
    display: block;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
header li a:hover{
    color: rgb(23, 201, 186);
}
header li ul li{
    display: block;
    position: relative;
}
header li ul{
    position: absolute;
    background-color: rgb(117, 112, 112);
    width: 150px;
    display: none;
}
header li:hover >ul{
    display: block;
}
header li ul li ul{
    left: 150px;
   top: 0;
}